<h1><%= @municipe.full_name %></h1>
<p><%= t('mailers.municipe_mailer.created') %></p>
<p><%= t('mailers.municipe_mailer.link') %></p>
<p><%= link_to 'Visualizar seu perfil', edit_municipe_url(@municipe.id), class: "button" %></p>
